<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-method Suite">

    <test name="ChromeTests" parallel="methods" thread-count="4">
        <parameter name="browser" value="Chrome"></parameter>
        <packages>
            <package name="tests.*"/>
        </packages>
    </test>

</suite>